{% extends "base.html" %}

{% block content %}
<h1 align='center'>จองใช้เครื่องมือ</h1>
<br>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">Confirm</div>
        <div class="panel-body">
            <h3 align="center">ยืนยันการใช้เครื่องมือ</h3>
            <br>
            <form action="{{ url_for('insert') }}" method="post">
                <input type="hidden" class="form-control"  name="name" value={{name}}>
                <label>ชื่อ-นามสกุล : </label> {{ name }}<br>
                <input type="hidden" class="form-control"  name="department" value={{department}}>
                <label>หน่วยงาน : </label> {{ department }}<br>
                <input type="hidden" class="form-control"  name="phone" value={{phone}}>
                <label>โทรศัพท์ : </label> {{phone}}<br>
                <input type="hidden" class="form-control"  name="email" value={{email}}>
                <label>E-mail : </label> {{email}}<br>
                <input type='hidden' class="form-control"  name="instru_date" value={{instru_date}}>
                <label>วันที่ใช้เครื่องมือ : </label> {{instru_date}}<br>
                {% if time_1 == '1' %}
                    <input type="hidden" class="form-control"  name="time_1" value="1">
                    <label>09:00 - 12:00 (3 Hrs) </label><br>
                {% else %}
                    <input type="hidden" class="form-control"  name="time_1" value="0">
                {% endif %}
                {% if time_2 == '1' %}
                    <input type="hidden" class="form-control"  name="time_2" value="1">
                    <label>13:00 - 16:00 (3 Hrs) </label><br>
                {% else %}
                    <input type="hidden" class="form-control"  name="time_2" value="0">
                {% endif %}
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">ยืนยัน</button>
                    <button type="/add" class="btn btn-danger" >ยกเลิก</button>
                    
                    <a href="/" class="pull-right btn btn-primary">กลับหน้าแรก</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            daysOfWeekDisabled: [0, 6],
            format: 'L',
            format: 'DD-MM-YYYY'
        });
    });
</script>
{% endblock %}
