{% extends "base.html" %}

{% block content %}
<h1 align='center'>จองใช้เครื่องมือ</h1>
<br>
{% if user %}
<h3>Welcome : {{ user }}</h3>
{% endif %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">กรุณากรอกข้อมูล</div>
        <div class="panel-body">
            <form action="{{ url_for('check') }}" method="post">
                <div class="form-group">
                    <label for="fname">ชื่อ-นามสกุล</label>
                    <input type="text" class="form-control"  name="name">
                </div>
                <div class="form-group">
                    <label for="fname">หน่วยงาน</label>
                    <input type="text" class="form-control"  name="department">
                </div>
                <div class="form-group">
                    <label for="fname">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control"  name="phone">
                </div>
                <div class="form-group">
                    <label for="fname">e-mail</label>
                    <input type="email" class="form-control"  name="email">
                </div>
                <div class='input-group date' id='datetimepicker1' >
                    <label for="fname">วันที่ใช้เครื่องมือ</label>
                    <input type='text' class="form-control" name="instru_date">
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </div>
                <br>
                <label for="fname">เวลาใช้เครื่องมือ</label> 
                <div class="form-group"> 
                    <input type="checkbox" class="form-control" value="time_1" name="time">09:00 - 12:00 (3 Hrs)
                    <input type="checkbox" class="form-control" value="time_2" name="time">13:00 - 16:00 (3 Hrs)
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">บันทึก</button>
                    <button type="reset" class="btn btn-danger" value="Reset">Clear</button>
                    
                    <a href="/" class="pull-right btn btn-primary">กลับหน้าแรก</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            daysOfWeekDisabled: [0, 6],
            format: 'L',
            format: 'DD-MM-YYYY'
        });
    });
</script>
{% endblock %}
