{% extends "base.html" %}

{% block content %}
        <h1 align='center'>ERROR !!!</h1>
        <br>
        <div class="container">
            <div class="panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body">
                    <h3 align="center">{{ message }}</h3>
                    <br>
                    <a href="/" class="pull-right btn btn-primary">กลับหน้าแรก</a>
                </div>
            </div>
        </div>
        </div>
        <script>
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    daysOfWeekDisabled: [0, 6],
                    format: 'L',
                    format: 'DD-MM-YYYY'
                });
           });
        </script>
{% endblock %}