{% extends "base.html" %}

{% block content %}
<h1 align='center'>Welcome : {{ user }} / Credit : {{ credit }}</h1>
<h4 align='center'>ศูนย์บริการเครื่องมือวิเคราะห์วัสดุและนาโนเทคโนโลยี</h4>
<h4 align='center'>วิทยาลัยนาโนเทคโนโลยีพระจอมเกล้าลาดกระบัง</h4>
<br>
<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">แก้ไขการจองใช้เครื่องมือ</div>
        <div class="panel-body">
            <form action="{{ url_for('check') }}" method="post">
                {% for row in data %}
                <div class="form-group">
                    <input type="hidden" class="form-control"  name="edit" value="1">
                    <label for="fname">เลขที่การจอง : {{ row.0 }}</label>
                    <input type="hidden" class="form-control"  name="id" value="{{ row.0 }}">
                </div>
                <div class="form-group">
                    <label for="fname">เครื่องมือ : {{ row.28 }}</label>
                    <input type="hidden" class="form-control"  name="instrument" value="{{ row.14 }}">
                    <input type="hidden" class="form-control"  name="option" value="{{ row.16 }}">
                </div>
                <div class="form-group">
                    <label for="fname">ผู้ใช้งานเครื่องมือ</label>
                    <input type="text" class="form-control"  name="name" value="{{ row.2 }}">
                </div>
                <div class="form-group">
                    <label for="fname">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control"  name="phone" value="{{ row.3 }}">
                </div>
                <div class="form-group">
                    <label for="fname">สารที่ทดสอบ</label>
                    <input type="email" class="form-control"  name="material" value="{{ row.4 }}">
                </div>
                <div class="form-group">
                    <label for="fname">บันทึกถึงนักวิทยาศาสตร์</label>
                    <input type="text" class="form-control"  name="comment" placeholder="{{ row.17 }}" >
                </div>
                <div class="form-group">
                    <label for="fname">วันที่ใช้เครื่องมือ :  {{ row.6 }}</label>
                    <input type='hidden' class="form-control" name="instru_date" value="{{ row.6 }}">
                </div>
                <label for="fname">เวลาใช้เครื่องมือ</label> 
                <div class="form-group">
                    {% if row.7 == 1 %}
                        <input type="hidden" class="form-control" value="time_09" name="time" checked>09:00 - 10:00 (1 Hr)<br>
                    {% endif %}
                    {% if row.8 == 1 %}
                        <input type="hidden" class="form-control" value="time_10" name="time" checked>10:00 - 11:00 (1 Hr)<br>
                    {% endif %}
                    {% if row.9 == 1 %}
                        <input type="hidden" class="form-control" value="time_11" name="time" checked>11:00 - 12:00 (1 Hr)<br>
                    {% endif %}
                    {% if row.10 == 1 %}
                        <input type="hidden" class="form-control" value="time_13" name="time" checked>13:00 - 14:00 (1 Hr)<br>
                    {% endif %}
                    {% if row.11 == 1 %}
                        <input type="hidden" class="form-control" value="time_14" name="time" checked>14:00 - 15:00 (1 Hr)<br>
                    {% endif %}
                    {% if row.12 == 1 %}
                        <input type="hidden" class="form-control" value="time_15" name="time" checked>15:00 - 16:00 (1 Hr)
                    {% endif %}
                </div>
                {% endfor %}
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">บันทึก</button>
                    <button type="reset" class="btn btn-danger" value="Reset">Clear</button>
                    
                    <a href="/" class="pull-right btn btn-primary">กลับหน้าแรก</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            daysOfWeekDisabled: [0, 6],
            format: 'L',
            format: 'YYYY-MM-DD',
        });
    });
</script>
{% endblock %}
