{% extends "base.html" %}

{% block content %}
<h1 align='center'>Reset Password</h1>
<h4 align='center'>ศูนย์บริการเครื่องมือวิเคราะห์วัสดุและนาโนเทคโนโลยี</h4>
<h4 align='center'>วิทยาลัยนาโนเทคโนโลยีพระจอมเกล้าลาดกระบัง</h4>
<br>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 align='center'></h4>Reset Password</h4></div>
        <div class="panel-body">
            <form action="{{ url_for('password') }}" method="post">
                <div class="form-group">
                    <label for="fname">Username : {{ username }}</label>
                    <input type="hidden" class="form-control"  name="username" value="{{ username }}" >
                </div>
                <div class="form-group">
                    <label for="fname">Email : {{ email }}</label>
                    <input type="hidden" class="form-control"  name="email" value="{{ email }}" >
                </div>
                <div class="form-group">
                    <label for="fname">Secret Password</label>
                    <input type="text" class="form-control"  name="secret" placeholder="Secret Password ที่ได้รัยจาก email" required>
                </div>
                <div class="form-group">
                    <label for="fname">Password</label>
                    <input type="password" name="password1" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="fname">Re-enter Password</label>
                    <input type="password" name="password2" class="form-control" placeholder="Re-enter Password" required>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">บันทึก</button>
                    <button type="reset" class="btn btn-danger" value="Reset">Clear</button>
                    
                    <a href="/" class="pull-right btn btn-primary">กลับหน้าแรก</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
